In [1]:
# 数据一
import pandas as pd
df_transaction = pd.read_csv('valuation_list_20230705.csv')

In [2]:
df_transaction

,Unnamed: 0,vltn_dt,bond_cd,bnds_nm,bond_tp,exrcs_f,vltn_full_prc,vltn_net_prc,yld_to_mrty,rcmnd_prc_indctr
0,0,2023-07-05,112205140,22建设银行CD140,26,0,99.7255,98.0883,1.9701,0
1,1,2023-07-05,112217147,22光大银行CD147,26,0,99.8506,97.9959,1.9500,0
2,2,2023-07-05,112313049,23浙商银行CD049,26,0,99.2313,98.2527,2.1100,0
3,3,2023-07-05,112313041,23浙商银行CD041,26,0,99.2712,98.2395,2.1099,0
4,4,2023-07-05,112313012,23浙商银行CD012,26,0,98.8226,97.6424,2.2301,0
...,...,...,...,...,...,...,...,...,...,...
29995,29995,2023-07-05,102280709,22中建投资MTN001(绿色),10,0,101.0398,100.2745,2.8118,0
29996,29996,2023-07-05,102280716,22重庆机场MTN001(绿色),10,0,101.7175,100.9345,2.6639,0
29997,29997,2023-07-05,102001641,20中铝集MTN002,10,0,103.3067,100.1767,2.2462,0
29998,29998,2023-07-05,102280774,22兴城投资MTN001,10,0,102.1183,101.3274,3.1489,0
29999,29999,2023-07-05,102280781,22知识城MTN002,10,1,100.9251,100.1195,NaN,1

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

# 读取CSV文件并筛选特定债券数据
data = pd.read_csv('valuation_list_20230705.csv')

# print(data['bond_cd'])
filtered_data = data[data['bond_cd'] == '230004']

print(filtered_data.head())

filtered_data.to_csv("test.csv")

       Unnamed: 0     vltn_dt bond_cd   bnds_nm  bond_tp  exrcs_f  \
18413       18413  2023-07-05  230004  23附息国债04        1        0

       vltn_full_prc  vltn_net_prc  yld_to_mrty  rcmnd_prc_indctr
18413       102.6932       101.659       2.6825                 0